[submodule "understanding-nlp-classification"]
	path = understanding-nlp-classification
	url = https://github.com/adamkurth/understanding-nlp-classification.git
[submodule "understanding-clinical-trials"]
	path = understanding-clinical-trials
	url = https://github.com/adamkurth/understanding-clinical-trials.git
[submodule "understanding-biostat-poisson-tests"]
	path = understanding-biostat-poisson-tests
	url = https://github.com/adamkurth/understanding-biostat-poisson-tests.git
[submodule "A_star"]
	path = A_star
	url = https://github.com/adamkurth/A_star
[submodule "ct_segmentation"]
	path = ct_segmentation
	url = https://github.com/adamkurth/ct_segmentation
[submodule "jockey_logistic_regression"]
	path = jockey_logistic_regression
	url = https://github.com/adamkurth/jockey_logistic_regression
[submodule "kriging_model"]
	path = kriging_model
	url = https://github.com/adamkurth/kriging_model
[submodule "marching_cubes_demo"]
	path = marching_cubes_demo
	url = https://github.com/adamkurth/marching_cubes_demo
[submodule "understand-neural-networks-numpy/reinforcement_snake_game"]
	path = understand-neural-networks-numpy/reinforcement_snake_game
	url = https://github.com/adamkurth/reinforcement_snake_game
[submodule "reinforcement_snake_game"]
	path = reinforcement_snake_game
	url = https://github.com/adamkurth/reinforcement_snake_game
[submodule "understand-astar-search"]
	path = understand-astar-search
	url = https://github.com/adamkurth/understand-astar-search
[submodule "understand-liver-segmentation"]
	path = understand-liver-segmentation
	url = https://github.com/adamkurth/understand-liver-segmentation
[submodule "understand-jockey-logistic-sim"]
	path = understand-jockey-logistic-sim
	url = https://github.com/adamkurth/understand-jockey-logistic-sim
[submodule "understand-kriging"]
	path = understand-kriging
	url = https://github.com/adamkurth/understand-kriging
[submodule "understand-marching-cubes"]
	path = understand-marching-cubes
	url = https://github.com/adamkurth/understand-marching-cubes
[submodule "understand-reinforcement-learning"]
	path = understand-reinforcement-learning
	url = https://github.com/adamkurth/understand-reinforcement-learning
[submodule "understand-poisson-tests"]
	path = understand-poisson-tests
	url = https://github.com/adamkurth/understand-poisson-tests
[submodule "understand-clinical-trails"]
	path = understand-clinical-trails
	url = https://github.com/adamkurth/understand-clinical-trails
[submodule "understand-nlp-classification"]
	path = understand-nlp-classification
	url = https://github.com/adamkurth/understand-nlp-classification
